<article class="panel">
  <h2><%= t("investigations.pipeline_panel.heading") %></h2>
  <% if steps.any? %>
    <ul class="steps-list">
      <% steps.each do |step| %>
        <%= render "pipeline_step", step: step %>
      <% end %>
    </ul>
  <% else %>
    <p class="empty-state"><%= t("investigations.pipeline_panel.empty") %></p>
  <% end %>
</article>
